* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #3cb1ff;
}
.drawing-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1em;
  color: #696969;
  font-size: 1.5em;
}
.tool-left {
  padding: 2em 1.5em;
  background: #fff;
  border-radius: 0.5em;
}
.drawing-right {
  background: #fff;
  border-radius: 0.5em;
}
ul {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.8em;
  margin-bottom: 1.7em;
  list-style: none;
}
.input-range {
  width: 100%;
}
.colors-contain .option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6em 0 0 0.5em;
}
.colors-contain .options {
  width: 26px;
  height: 26px;
  background: red;
  border-radius: 50%;
}
.drawing-button {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1em;
}
.drawing-button .btn {
  width: 100%;
  padding: 1em 1em;
  border-radius: 0.5em;
  border-style: none;
  font-size: 1em;
}
.drawing-button .btn-clear {
  border: 1px solid #adadad;
  color: #6e6e6e;
  background: #fff;
}
.drawing-button .btn-save {
  background: #2e9aff;
  color: #fff;
}
