* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: #4c94ff;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  max-width: 32em;
  min-width: 15em;
  transform: translate(-50%, -50%);
}
.todo-input-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1em;
  padding: 2em 1.5em;
  background: #fff;
  border-radius: 0.8em;
}
.input-value {
  height: 4em;
  border-style: none;
  border-bottom: 2px solid #d8d8d8
}
.input-value:focus {
  outline: none;
  border-bottom: 2px solid #2d81ff
}
.add-button {
  height: 4em;
  font-weight: bold;
  background: #2d81ff;
  border-style: none;
  color: #fff;
  border-radius: 0.5em;
}
.list-input-container {
  margin-top: 1em;
  width: 100%;
  background: #fff;
  border-radius: 0.5em;
  padding: 2em 1.5em;
}
.todo-list-container {
  display: grid;
  padding: 0.5em 0;
  line-height: 1em;
  grid-template-columns: 5fr 1fr 1fr;
  column-gap: 1em;
  border-bottom: 0.1em solid #d8d8d8;
}
.todo-value {
  line-height: 2em;
}
.delete-btn  {
  height:2.5em;
  background: red;
  color: #fff;
  border-style: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.edit-btn {
  height:2.5em;
  background: rgb(28, 119, 255);
  color: #fff;
  border-style: none;
  border-radius: 0.5em;
  cursor: pointer;
}